<%- include('../partials/header') %>
<%- include('../partials/navbar') %>
<%- include('../partials/flashMessages') %>
<%- include('../partials/sidebar') %>

<p>locationRes:
    <%= locationRes %>
</p>
<p>hotels:
    <%= hotels %>
</p>
<p>hotelsData:
    <%= hotelsData %>
</p>

<%- include('../partials/footer') %>
  
<!-- AOS Init -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js" defer></script>
<script>AOS.init();</script>