<!-- ./views/pages/search-city.ejs -->
<%- include('../partials/header') %>
<%- include('../partials/navbar') %>
<%- include('../partials/flashMessages') %>
<%- include('../partials/sidebar') %>


<section class="max-w-5xl mx-auto mt-8 p-6 bg-white dark:bg-gray-900 rounded-lg shadow">
  
    <h1 class="text-4xl font-bold mb-4 text-gray-800 dark:text-white"><%= city %>, <%= weather.country %></h1>
  
    <!-- Background Image -->
    <!-- <div class="mb-6">
      <img src="<%= city.imageUrl %>" alt="<%= city %> image" class="w-full rounded-lg shadow" />
    </div> -->
  
    <!-- Weather -->
    <div class="mb-4">
      <h2 class="text-2xl font-semibold text-gray-700 dark:text-white mb-2">Current Weather</h2>
      <% if (weather) { %>
        <p class="text-gray-800 dark:text-gray-300">
          <%= weather.city %>°C — <%= weather.country %>
        </p>
        <p class="text-gray-800 dark:text-gray-300">
          🌤 <img src=" <%= weather.icon %>" alt=""> <%= weather.temperature %>°C — <%= weather.description %>
        </p>
        <p class="text-gray-800 dark:text-gray-300">
          <%= weather.coord %>
        </p>
      <% } else { %>
        <p class="text-red-500">Weather info unavailable</p>
      <% } %>
    </div>

   <!-- Hotels-->
  <%-include('../partials/hotels', {
    city,
    hotels,
    currentPage,
    totalPages,
    query,
    filters: {
    search: query.search || '',
    price: query.price || 'all'
  }
   
  }) %>
  
    <h2 class="text-2xl font-semibold text-gray-700 dark:text-white mb-2">Map</h2>
    <div id="map" class="h-64 rounded mb-6 shadow"></div>
    <!-- Leaflet-->
        <script>
          document.addEventListener('DOMContentLoaded', async () => {
            const cityName = "<%= city %>";
            const apiKey ="<%= apiKey %>";
            try {
              const res = await fetch(
                `https://api.opencagedata.com/geocode/v1/json?q=${encodeURIComponent(
                  cityName
                )}&key=${apiKey}&limit=1`
              );
              const data = await res.json();
              
              if (data.results && data.results.length > 0) {
                const { lat, lng } = data.results[0].geometry;
        
                const map = L.map("map").setView([lat, lng], 5);
                L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
                  maxZoom: 18,
                  attribution: '&copy; OpenStreetMap contributors',
                }).addTo(map);
        
                L.marker([lat, lng])
                  .addTo(map)
                  .bindPopup(cityName)
                  .openPopup();
              } else {
                alert("Could not find location for this city.");
              }
            } catch (error) {
              console.error("Geocoding failed:", error);
              alert("Something went wrong while fetching the map.");
            }
          });
        </script>
  
    <!-- Schools -->
    <div class="mb-6">
      <h2 class="text-2xl font-semibold text-gray-700 dark:text-white mb-2">Educational Institutions</h2>
      <% schools.forEach(school => { %>
        <div class="bg-gray-100 dark:bg-gray-800 p-3 rounded mb-2 shadow">
          <p class="text-lg font-semibold text-gray-800 dark:text-white"><%= school%></p>
          <p class="text-sm text-gray-600 dark:text-gray-400"><%= school %></p>
        </div>
      <% }) %>
    </div>
</section>

<%- include('../partials/footer') %>